# OS files
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Environment variables
.env

# Build files
/build/
/dist/

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# Large image files
*.jpg
*.png
*.gif

# Keeping asset directories
!assets/
